@tailwind base;
@tailwind components;
@tailwind utilities;

.line-word-wrap {
  @apply relative text-center;
}

.btn{
  @apply rounded-3xl bg-blue text-white;
}

.input{
  @apply border border-black h-10 rounded-sm;
}

.line-word-wrap:before {
  content: " ";
  height: 0.5px;
  width: 40%;
  display: block;
  position: absolute;
  background: grey;
  top: 50%;
  left: 0;
}

.line-word-wrap:after {
  content: " ";
  height: 0.5px;
  width: 40%;
  background: grey;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}